.o_diecut_kb_form .o_field_html,
.o_diecut_kb_form .o_field_html .note-editor,
.o_diecut_kb_form .o_field_html .note-editable,
.o_diecut_kb_form .o_field_html .o_readonly {
    width: 100% !important;
    max-width: none !important;
}

.o_diecut_kb_form .o_field_html .note-editable *,
.o_diecut_kb_form .o_field_html .o_readonly * {
    max-width: 100%;
}

.o_diecut_kb_form .o_field_html iframe,
.o_diecut_kb_form .o_field_html img,
.o_diecut_kb_form .o_field_html video {
    max-width: 100% !important;
    height: auto;
}
